[submodule "LesHouchesParserClasses_CPP"]
	path = LesHouchesParserClasses_CPP
	url = git@github.com:benoleary/LesHouchesParserClasses_CPP.git
[submodule "utils"]
	path = utils
	url = git@ursaminorbeta.org.uk:luketpickering/lukes-utils.git
	branch = stable
